<launch>
  
  <node respawn="true" pkg="joy"
	type="joy_node" name="joystick_node" >
	<param name="dev" type="string" value="/dev/input/js0" />
	<param name="deadzone" value="0.12" />
	<!-- <param name="autorepeat_rate" value="10" /> -->
	<remap from="/vrep/twistCommand" to="/joy"/> 	

  </node>

  <node pkg="face_detect_base" type="rosfacedetect.py" name="face_detect" output="screen">
      <remap from="/face_detect/image" to="/vrep/visionSensor"/>
  </node>

</launch>
